html,
body {
  height: 100%;
  background-image: url(immagini/sfondochiaro.jpg);
}
.header{
    font-family:'Times New Roman', Times, serif;
    height:80px;
	width:100%;
	z-index:2;
    background-image: linear-gradient(rgba(240, 173, 214, 0.7),rgba(242, 83, 83, 0.7)), url(immagini/sfondo.jpg);
    background-position: center; 
    background-size: contain;
    position: fixed;
    

}

.btn{
    float: right;
    background-color: #f89c39;
    margin-top: 5px;
    margin-right: 20px;
    color:rgb(154, 1, 154);
    font-family:'Times New Roman', Times, serif;
   
}
.btn:hover{
   background-color:rgb(248, 248, 99);
   color:black;
}
h1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.sinistra{
    margin-top:100px;
}

#griglia{
    padding: 0;
    margin:0; 
}
#griglia > li{
    border: 5px solid #050303;
    display: inline-block;
    margin: 15px;
    background-color: #f89c39 ;
   


}


#container{
    display:grid;
    grid-template: 1fr 1fr 1fr;
    grid-auto-flow: column;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    margin-top:100px;
}

#griglia li a{
    text-decoration:none;
    padding :0 0 0 0;
    margin: 0;
    font-size: 12px;
    color: rgb(8, 6, 6);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}
#griglia li a:hover{
    color:red;
}



.imgw200{
    width: 320px;
    height: 200px;
}




nav{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 52px;
    width: 20%;
    position: fixed; /* il menu rimane fisso in alto*/
    left:40px;
    border-top: solid 1.5px black;
    
   
    

}

nav ul{
    list-style:none; /*spariscono pallini*/
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    display: inline-block;
    
    

}

nav ul ul{
    display: none;
     width: 100%;
     border-top: solid 1.5px black;
    
}

nav ul li{

    
    overflow:auto;
    border-bottom: solid 1.5px black;
    

}

nav ul li:hover ul{
    display: block;
    
    
}
nav li a:hover{
    background-color:rgb(253, 86, 30);
    color:black;
    
}
nav ul li li{
    position: relative;
    float:none;
    width: 100%;
   
}
nav ul li li a {
    background-color: rgb(249, 226, 199);

}

nav ul li a{
    display: block;
    text-decoration:none;
    color:rgb(154, 1, 154);
    padding: 8px 10px;
    box-sizing: content-box;
    border-left: solid 1.5px black;
    border-right: solid 1.5px black;
    background-color: #fcb66c;
    

}


