html,
body {
    width: 100%;
    align-content: center ;
    background-image: url(../immagini/bf58cea0-991d-4793-88f3-83202fb989c0.jpeg);
    margin:0;
}

.header{
    font-family: 'Comic Sans MS', cursive;
    height:80px;
    width:100%;
    z-index:2;
    background-image: linear-gradient(rgba(240, 173, 214, 0.7),rgba(242, 83, 83, 0.7)), url(../immagini/sfondo.jpg);
    background-position: center; 
    background-size: contain;
    position: fixed;
}

h1 {
    text-align: center;
    font-family: 'Comic Sans MS', cursive;
    margin-top: 12px;
    font-size: 35px;
    margin-right: 70px;
}

.centralBox {
    width: 60%;
    height: auto;
    padding-top: 100px;
    margin-left: 25%;
    
  }

h2 {
    width: 100%;
    text-align: center;
    font-family: 'Comic Sans MS', cursive;
    font-size: 30px;
    margin-top: 20px;
   
}

.form-login {
    width: 80%;
    height: 100%;
    padding: 20px 10px 40px 10px;
    border: 2px solid rgb(231, 123, 34);
    border-radius: 12px;
    text-align: center;
    background-image: url(../immagini/sfondochiaro.jpg);
}

.label {
    text-align: left;
    width: 20%;
    margin-top: 40px;
    display: inline-block;
    font-family: 'Comic Sans MS', cursive;
    font-size: 20px;
    padding: 12px 12px 12px 0;
}

.form-input {
    width: 40%;
    padding: 12px 20px;
    margin: 8px;
    margin-top: 20px;
    display: inline-block;
    border: 3px solid rgb(255, 187, 187);
    border-radius: 5px;
}

.btn {
    width: auto;
    margin-top: 40px;
    margin-right: 80px;
    margin-left: 5%;
    background-color: rgb(245, 198, 179);
    border: 2px solid rgb(231, 123, 34);
    border-radius: 12px;
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
    font-size: 20px;
    padding:5px 10px;
}

.btn:hover {
    background-color: rgb(243, 151, 75);
}



/* ---------- TABLET ---------- */

@media screen and (max-width: 768px) {
    .header {
        height:50px;
    }
    
    h1 {
        font-size: 25px;;
        margin-top: 10px;
        margin-left: 30px;
        
    }
    

    .centralBox {
        width: 85%;
        height: auto;
        padding-top: 100px;
        margin-left: 60px;
      }
    
      
    
    
      .form-login {
        width: 95%;
        height: auto;
        margin:0;
      }

    h2 {
        font-size: 25px;
        margin-top: 15px;
        
    }
    
    .label {
        width: 40%;
        text-align: center;
        font-size:20px;
        padding: 5px 5px 5px 0;
    }
    
    .form-input {
        width: 55%;
        text-align: left;
        padding: 12px 12px 8px 0;
    }
    
    .btn {
        width: 100px;
        margin-top: 40px;
        margin-left: 80px;
        margin-right:70px;
        font-size: 25px;
    }
}



/* ---------- MOBILE L ---------- */

@media screen and (max-width: 500px) {
    h1 {
        font-size: 25px;
        padding-top: 10px;
        margin-right:0;
        margin-top:0;
      }
      .centralBox {
        padding-top: 70px;
        margin-left: 35px;
      }
    
    
    h2 {
        font-size: 20px;
        margin-top: 15px;
        text-align: center;
    }
    
    .label {
        width: 100%;
        text-align: center;
        font-size: 18px;
    }
    
    .form-input {
        width: 70%;
        text-align: left;
        padding: 12px 12px 8px 0;
    }
    
    .btn{
        margin-right: 25px;
        margin-left: 35px;
        font-size:18px;
        width: 75px;
        margin-top: 10px;
    }

    
}