html,

body {
  height: 100%;

}

body{
  align-content: center ;
  align-items: space-evenly;
  background-image: url(immagini/Sfondo.jpg);
}

.header{
  font-family: 'Times New Roman', Times, serif;
  height: 80px;
  width: 100%;
  z-index: 2;
  background-image: linear-gradient(rgba(240, 173, 214, 0.7),rgba(242,83,83,0.7)), url(immagini/sfondo.jpg);
  background-position: center;
  background-size: contain;
  position: fixed;

}


.rst{
  float: center;
  width: 100px;
  background-color: #f89c39;
  margin-top: 5px;
  margin-right: 20px;
  color: rgb(248,248,99);
  color: black;
}

h1{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bd{
  margin-top: 100px;
  width: 100%;
  
}



.destra li{
  list-style: none;
}

.foto{
  height: 80%;
}


.form-signin {
  width: 100%;
  padding: 15px;
}

.mb-3{
  width:100%;
  text-align: left;
  
  
}

.checkbox{
  font-weight: 400;
  width: 25px;
  
}

.form-control{
  width: 60%;
}

.form-signin.form-control {
  position:relative;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  font-size: 16px;
}



