html,
body {
  width: 100%;
  align-content: center ;
  background-image: url(../immagini/bf58cea0-991d-4793-88f3-83202fb989c0.jpeg);
}

.header{
  font-family: 'Comic Sans MS', cursive;
  height:80px;
  width:100%;
  z-index:2;
  background-image: linear-gradient(rgba(240, 173, 214, 0.7),rgba(242, 83, 83, 0.7)), url(../immagini/sfondo.jpg);
  background-position: center; 
  background-size: contain;
  position: fixed;
}

h1 {
  text-align: center;
  font-family: 'Comic Sans MS', cursive;
  padding-top: 12px;
  font-size: 40px;
  margin-right: 70px;
}

.centralBox {
  width: 70%;
  height: auto;
  padding-top: 95px;
  margin-left: 22%;
}

h2 {
  width: 100%;
  text-align: center;
  font-family: 'Comic Sans MS', cursive;;
  font-size: 25px;
  margin-top: 5px;
}

h3 {
  width: 100%;
  text-align: left;
  font-family: 'Comic Sans MS', cursive;;
  font-size: 18px;
  margin-top: 15px;
  padding-left: 40px;
}

.form-signin {
  width: 80%;
  height: auto;
  padding: 20px 10px 20px 10px;
  border: 2px solid rgb(231, 123, 34);
  border-radius: 12px;
  text-align: left;
  background-image: url(../immagini/sfondochiaro.jpg);
}

.label {
  text-align: left;
  width: 30%;
  margin-top: 10px;
  display: inline-block;
  font-family: 'Comic Sans MS', cursive;;
  font-size: 15px;
  padding-left: 40px;
}

.form-control{
  width: 35%;
  height: 40px;
  padding: 5px 5px;
  margin-bottom: 10px;
  display: inline-block;
  border: 3px solid rgb(255, 187, 187);
  border-radius: 5px;
  margin-left:20px;
}

.control{
  width: 35%;
  display: inline-block;
  margin-left:20px;
}

#ProgressBar {
  width: 35%;
  background-color: #ddd;
  max-width:60%;
  margin-left: 275px;
}

#bar {
  width: 1%;
  height: 10px;
  background-color: #4CAF50;
  max-width:100%;
}

#txt {
  width: 35%;
  height: 40px;
  padding-top: 12px;
  margin-top: 20px;
  margin-bottom: 1px;
  display: inline-block;
  border: 3px solid rgb(255, 187, 187);
  border-radius: 5px;
}

#alert {
  font-weight:bold;
  text-align:center;
}


.rst {
  width: auto;
  margin-top: 40px;
  margin-right: -170px;
  margin-left: 35%;
  background-color: rgb(245, 198, 179);
  border: 2px solid rgb(231, 123, 34);
  border-radius: 12px;
  color: rgb(0, 0, 0);
  text-align: center;
  display: inline-block;
  font-size: 20px;
  padding:5px 10px;
}

.rst:hover {
  background-color: rgb(243, 151, 75);
}



/* ---------- TABLET ---------- */

@media screen and (max-width: 768px) {
  .header {
    height:50px;
  }

  h1 {
    font-size: 30px;
    padding-top: 7px;
    margin-left: 30px;
  }

  h3 {
   
    padding-left: 20px;
  }
  
  
  .centralBox {
    width: 90%;
    height: auto;
    padding-top: 100px;
    margin-left: 50px;
  }

  

  .label {
    width: 90%;
    font-size: 15px;
    padding-left: 20px;
  }

  .form-signin {
    width: 95%;
    height: auto;
    margin:0;
  }

  .form-control {
    width: 60%;
    padding-left: 20px;
    margin-left: 20px;
  }
  .control {
    width: 60%;
    margin-left: 20px;
  }

  #ProgressBar {
    width: 60%;
    background-color: #ddd;
    max-width:100%;
    margin-left: 20px;
  }

  #bar {
    width: 1%;
    height: 10px;
    background-color: #4CAF50;
    max-width:100%;
  }

  #txt {
    width: 60%;
    height: 40px;
    padding: 12px 20px;
    margin-top: 3px;
    display: inline-block;
    border: 3px solid rgb(255, 187, 187);
    border-radius: 5px;
  }

  #alert {
    font-weight:bold;
    text-align:center;
  }

  

  .rst {
    width: 100px;
    margin-top: 40px;
    margin-right: -60px;
    margin-left: 150px;
    font-size: 25px;
  }

}



/* ---------- MOBILE L ---------- */

@media screen and (max-width: 550px) {
  h1 {
    font-size: 25px;
    padding-top: 10px;
    margin-right:0;
  }

  .centralBox {
    padding-top: 70px;
    margin-left: 35px;
  }

  h2 {
    font-size: 20px;
    margin-top: 15px;
  }

  h3 {
    font-size: 15px;
    padding-left: 10px;
    margin-bottom:5px;
  }

  .form-signin {
    
    padding: 5px 5px 5px 5px;
    
  }

  .label {
    width: 100%;
    font-size: 15px;
    padding-left: 0px;
    text-align: center;
  }

  .form-control {
    width: 90%;
    margin-left: 20px;
    height: 35px;
  }

  .control {
    width: 90%;
    margin-left: 20px;

    
  }
  #ProgressBar {
    width: 90%;
    margin-left: 20px;
  }

  #txt {
    width: 90%;
    margin-left: 20px;
    height: 35px;
  }

  
  .rst {
    margin-right: -15px;
    margin-left: 65px;
    font-size:18px;
    width: 75px;
    margin-top: 10px;
  }

}