<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://unpkg.com/vue@3"></script>  <!-- per richiamare la libreria -->
    <link rel="stylesheet" href="like.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    
    <title> LIKES </title>
</head>
<body>
    <div class="header">
        <button class="btn btn-primary btn-lg" name="logoutBtn">Logout</button>
        
        <li><a href="../home/index.html"> <img class="tastohome" src="../profilo/immagini/tastohome.jpg"></a></li>
        <h1> Game of Fork </h1>   
    </div>

    <div id="appLike"> 
        <div class="sinistra" style="float: left; text-align: justify; width:50%;">
            <div>
                <img  style='width:200px; height:200px;'>
            </div>
            <br> 
            Nome Utente
            <div class="pro">
                <br>
            </div>
            <br>
            
            <div class="em"></div>
            <br>
            <br>
            <br>            
        </div>
        <br>
        <br>
        <div class="destra" style="float: right; text-align: justify; width: 40%;">
            <br>
            <label for="numero-ricetta" class="label"> Numero ricette pubblicate </label>
            <div class="numero"> {{variants.length}} </div>
            <br>
            <label for="grado" class="label"> Livello raggiunto </label> 
            <div class="livello"> {{livello}}
                <p v-if="livello < 10"> principiante </p> 
                <p v-else-if="livello >= 10 && livello < 20"> intermedio </p> 
                <p v-else> esperto </p> 
            </div>
        </div>
        <div class="container">
            <ul id="griglia">
                <li v-for="(ricetta, index) in variants" :key="ricetta.id">    
                    <a href="#"> <img class="imgw200" :src="getPicPath(ricetta)"> <br> {{ricetta.name}} </a> <br>
                    <div class="likeButtons" id="likeDiv '+{{index}}'"> Likes: {{ricetta.likes}}
                        <br>
                        <button id="likeButton" v-on:click="incrementLivello(index)"> <i class="bi bi-chat-left-heart"></i> MI PIACE </button>
                    </div>

    
                    

                    <!--
                    <a href="#"> <img class="imgw200" :src="getPicPath(ricetta)"> <br> {{ricetta.name}} </a> <br>
                    <div class="likeButtons" id="likeDiv '+{{index}}'"> Likes: {{ricetta.likes}}
                        <br>
                        <input type="radio" name="stato" id="like" value="LIKEvalue" v-on:click="incrementLivello(index)"/>
                        <i class="bi bi-chat-left-heart"></i> LIKE
                        <input type="radio" name="stato" id="dislike" value="DISLIKEvalue" v-on:click="decrementLivello(index)"/>
                        <i class="bi bi-chat-left-heart-fill"></i> DISLIKE
                    </div>
                    
                    
                    <br>
                    <b-form-radio-group id="btn-radios-2" v-model="selected" :options="options" size="lg" buttons> </b-form-radio-group>
                    <br>
                    <br>
                    helohewoihgrou wrifejuprodiqèwpiedrèpq

                    <br>
                    <b-form-radio-group id="btn-radios-2" v-model="selected" :options="options" size="lg" buttons> </b-form-radio-group>
                    <br>
                    <br>
                    helohewoihgrou wrifejuprodiqèwpiedrèpq

                    <b-form-radio-group id="btn-radios-1" v-model="selected" :options="options" size="lg" buttons> </b-form-radio-group>

                    <input type="radio" id="likeButton" v-model="scelto" v-on:click="incrementLivello(index)"/> 
                    <label for="likeButton"> <i class="bi bi-chat-left-heart"></i> MI PIACE </label>
                    <input type="radio" id="dislikeButton" v-model="scelto" v-on:click="decrementLivello(index)"/> 
                    <label for="dislikeButton"> <i class="bi bi-chat-left-heart-fill"></i> NON MI PIACE PIÙ </label>
                    
                    <button id="likeButton" v-on:click="incrementLivello(index)" :disabled="dislikeButton"> <i class="bi bi-chat-left-heart"></i> MI PIACE </button>
                    <button id="dislikeButton" v-on:click="decrementLivello(index)" :disabled="likeButton"> <i class="bi bi-chat-left-heart-fill"></i> NON MI PIACE PIÙ</button>

                    <button id="likeButton" v-on:click="incrementLivello(index)"> MI PIACE </button>
                    <button id="dislikeButton" v-on:click="decrementLivello(index)" v-bind:disabled="livello < 0" v-bind:class="{disabledButton: livello < 0}"> NON MI PIACE PIÙ</button>
                    -->

                </li>
            </ul>
        </div>
    </div>
    <script type="application/javascript" src="like.js"></script>   
    </body>
    </div>
</html>
